<header class="cd-header">
                        <div class="cd-container">
                            <div class="cd-header--inner">
                                {{ $asset := resources.Get "/list.svg" }}
                                <img class="cd-header--menu" src="{{ $asset.RelPermalink }}" alt="hamburger-menu icon">
                                {{ $asset := resources.Get "/Aspose_SVG_logo.svg" }}
                                <img src="{{ $asset.RelPermalink }}" class="cd-header--logo" alt="Aspose Logo"/>
                                <ul class="cd-header--nav">
                                    <li class="cd-dropdown-onhover">
                                        <a href="">{{ .Params.pr0d2cts }} </a>
                                        <ul class="cd-dropdown cd-dropdown--col-2">
                                            <li>
                                                <a href="" >Aspose total</a>
                                                </li>
                                                 <li>
                                                <a href="" >Aspose total2</a>
                                                </li>
                                                </ul>
                                    </li>
                                    <li class="cd-dropdown-onhover">
                                        <a href="">{{ .Params.p2rch4s3 }}</a>
                                          <ul class="cd-dropdown cd-dropdown--col-2">
                                            <li>
                                                <a href="" >{{ .Params.b2y }}</a>
                                                </li>
                                                 <li>
                                                <a href="" >{{ .Params.pr1c1ng }}</a>
                                                </li>
                                                </ul>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.s2pp0rt }}</a>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.w3b }}</a>
                                    </li>
                                    <li>
                                        <a href="">{{ .Params.ab02t }}</a>
                                    </li>
                                </ul>
                                <div class="cd-header--actions">
                                    <span class="cd-header--language" data-cd-toggle="modal" data-cd-target="#lnModal">
                                        <svg id="Layer_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f0f0f0" r="256"/><path d="m509.833 222.609h-220.44-.001v-220.442c-10.931-1.423-22.075-2.167-33.392-2.167s-22.461.744-33.391 2.167v220.44.001h-220.442c-1.423 10.931-2.167 22.073-2.167 33.392s.744 22.461 2.167 33.391h220.44.001v220.442c10.931 1.423 22.075 2.167 33.392 2.167s22.461-.743 33.391-2.167v-220.44-.001h220.442c1.423-10.931 2.167-22.073 2.167-33.392s-.744-22.461-2.167-33.391z" fill="#d80027"/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg> EN
                                    </span>
                                </div>
                            </div>
                        </div>
                    </header>
            
                    <div class="cd-modal" id="lnModal">
                        <div class="cd-modal-backdrop"></div>
                        <div class="cd-modal-inner">
                            <div class="cd-modal-close">
                                <svg viewPort="0 0 12 12" height="18px" width="18px" version="1.1" xmlns="http://www.w3.org/2000/svg"> <line x1="1" y1="18" x2="18" y2="1" stroke="#111111" stroke-width="2"/><line x1="1" y1="1" x2="18" y2="18" stroke="#111111" stroke-width="2"/></svg>
                            </div>
                            <div class="cd-modal-header">
                                Select language
                            </div>
                            <div class="cd-modal-lns">
                                
                                {{ range $.Site.Home.AllTranslations }}
                                <div class="cd-modal-ln">
                                    <img src="https://hatscripts.github.io/circle-flags/flags/{{ .Page.Language.Params.languageCode }}.svg" width="48">
                                    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                